/* git add . && git commit -m "MESSAGE" && git push

to do:

aside class col-lg-4 pb-3 ouppying onlt left side of page

    form heading i want to be the top element of aside, spanning all the width of aside

    form input span all of aside underneath form heading

    (input group append) class, i want to be underneath from input, i want it to span all the width of the aside

    div with id of history underneath the form input group
    
    i want all the buttons class displayed block underneath eachoter, with all of the buttons beneath the input group append inside of the history div

todayweather section accesed trhough id. i want to be on the top right side of page (right from aside, on top of forecast id)

    city id, date id, weather icon id on top left of today weather id all inline

    temperature id underneath city id (block)

    humidity id underneath temperature (block)

    wind speed id underneath humidity (block)

forecast id bottom right side of page (right from aside, underneath today weather)

    target header5Day id to display 5 day forecast: on top of forecast id div group

    target all forecastInside id, inner divs (class of forecastDay) so that they dispaly inline from eachother

    each element inside forecast day class divs, i want to have block display */

#search-input {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btn {
    width: 100%;
    background-color: #f8f9fa;
}

.input-group {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    width: 100%;
}

#history {
    border: 0.2rem solid black;
    padding: 0.5rem;
    margin: 1rem;

}

.historyButton {
    display: block;
    border: 0.2rem solid black;
    padding: 0.5rem;
    margin: 1rem;

}

.container-fluid {
    padding: 1rem;
}

#todayWeather {
    border: 0.2rem solid black;
    padding: 0.5rem;
}

#forecast {
    border: 0.2rem solid black;
    padding: 0.5rem;
}

#forecastInside {
    display: inline-block;
    flex-wrap: nowrap;
    /* Ensure items stay in a single row */
    padding: 0.5rem;
    border: 0.2rem;
}

.forecastDay {
    flex: 0 0 auto;
    /* Don't allow flex items to grow or shrink */
    margin-right: 10px;
    border: 0.15rem solid black;
    padding: 0.4rem;
    display: inline-block;
}